.card{
    border-radius:5px;
    border:1px solid #333;
    box-shadow:3px 4px 5px 0px rgba(136,136,136,1);
    margin:auto
}
.container{
    padding:1rem;
}
.central{
    margin-top:15rem;
}
.card-body{
    padding:0.8rem;
}
.card-footer{
    text-align:right;
    border-top:1px solid #ccc;
    padding:0.8rem;
}
.lg-card{
    max-width:80%;
    min-width:80%;
}
.md-card{
    max-width:65%;
    min-width:65%;
}
.sm-card{
    max-width:50%;
    min-width:50%;
}

.footer{
    position:absolute;
    width:74%;
    bottom:10px;    
}
.footer.centered{
    width:30%;
    margin-left:33%;
}
.lateral{
    height:100%;
    position:fixed;
    z-index:1;
    overflow:auto;
    width:25%;
    background-color:#666;
}

.main{
    margin-left:25%
}